/*----- 2. Header style ----*/

.navbar {
  // background-color: #eeeeee;
  padding: 18px 0;
  font-size: 18px;
  width: 100%;

  transition: all 0.3s ease 0s;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  div.container {
    // justify-content: center;
    width: 100%;
    a.navbar-brand {
      // width: 100%;
      // display: flex;
      // justify-content: center;
    }
    .navbar-container {
      // width: 100%;
    }
  }
}

.navbar-nav {
  gap: 20px;
  margin: 0;
  padding: 0;
  a {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
  .navbar-light .navbar-nav .nav-link,
  a.active {
    color: #a749ff !important;
  }
}

.header-area {
  position: relative;
  &.header-absolute {
    position: absolute;
    z-index: 99;

    width: 100%;

    @media #{$md-layout,
    $xs-layout} {
      position: relative;

      width: auto;
    }
  }
}

.logo {
  // margin-top: 32px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 170px;
  min-width: 140px;

  @media #{$md-layout} {
    margin-top: 0;
  }
  @media #{$xs-layout} {
    margin-top: 0;
    max-width: 140px;
  }
}

.customer-points {
  margin-right: 0px;
  @media #{$xs-layout} {
    div {
      margin-right: 20px;
    }
  }
}
// #basic-navbar-nav {
//   max-width: 250px;
// }
