/*----- 2. Header style ----*/

.navbar {
  // background-color: #eeeeee;
  padding: 18px 0;
  font-size: 18px;
  width: 100%;

  transition: all 0.3s ease 0s;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  div.container {
    // justify-content: center;
    width: 100%;
    gap: 20px;
    @media #{$xs-layout} {
      gap: 5vw;
    }

    a.navbar-brand {
      // width: 100%;
      // display: flex;
      // justify-content: center;
      padding: 0;
      margin: 0;
    }
    .navbar-container {
      // width: 100%;
    }
  }
}

.navbar-nav {
  // gap: 2px;
  margin: 0;
  padding: 0;
  a {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
  .navbar-light .navbar-nav .nav-link,
  a.active {
    color: $theme-color !important;
  }
  a:focus {
    color: var(--bs-nav-link-hover-color);
  }
  .nav-link:hover {
    color: $theme-color !important;
  }
}

.header-area {
  position: relative;
  &.header-absolute {
    position: absolute;
    z-index: 99;

    width: 100%;

    @media #{$md-layout,
    $xs-layout} {
      position: relative;

      width: auto;
    }
  }
}

.logo {
  // margin-top: 32px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 180px;
  min-width: 150px;

  @media #{$md-layout} {
    margin-top: 0;
    max-width: 160px;
  }
  @media #{$xs-layout} {
    margin-top: 0;
    max-width: 150px;
  }
}

.customer-points {
  margin-right: 0px;
  @media #{$xs-layout} {
    div {
      margin-right: 20px;
    }
  }
}
// #basic-navbar-nav {
//   max-width: 250px;
// }

.profile-logout-button {
  margin-left: 8px !important;
}

.external-digicel-contact {
  color: var(--bs-nav-link-color);
}
