/*----- 2. Header style ----*/

.header-area {
  position: relative;
  &.header-absolute {
    position: absolute;
    z-index: 99;

    width: 100%;

    @media #{$md-layout,
    $xs-layout} {
      position: relative;

      width: auto;
    }
  }
}

.sticky-bar.stick {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  font-size: 16px;

  width: 100%;

  transition: all 0.3s ease 0s;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;

  border-bottom: 0 solid #4a90e2;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);

  .center-menu-logo {
    display: none;
    @media #{$md-layout} {
      display: block;
    }
    @media #{$xs-layout} {
      display: block;
    }
  }

  .header-right-wrap-white {
    .same-style {
      > a {
        color: #000;
      }

      &.cart-wrap,
      &.header-compare,
      &.header-wishlist,
      &.account-setting,
      &.header-search {
        > button,
        & > a {
          color: #000;
          span {
            &.count-style {
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.sticky-bar > .container > .row {
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 170px;
  min-width: 140px;
}

.logo {
  // margin-top: 32px;
  display: flex;
  align-items: center;
  height: 100%;
  @media #{$md-layout} {
    margin-top: 0;
  }
  @media #{$xs-layout} {
    margin-top: 0;
  }
  &.logo-hm5 {
    // margin-top: 41px;
    a.sticky-block {
      display: none;
      @media #{$md-layout,
      $xs-layout} {
        display: block;
      }
    }
    a.sticky-none {
      display: block;
      @media #{$md-layout,
      $xs-layout} {
        display: none;
      }
    }
    @media #{$md-layout} {
      margin-top: 0;

      text-align: left !important;
    }
    @media #{$xs-layout} {
      margin-top: 0;

      text-align: left !important;
    }
  }
}

#basic-navbar-nav {
  max-width: 250px;
}
