.btn-circle.btn-lg.emoji-button {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  text-align: center;
  border: 0;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  // padding: 10px 10px;
  padding: 0;
  font-size: 18px;
  line-height: 1.33;
  background: linear-gradient(
    90deg,
    rgb(246, 64, 42) 0%,
    rgb(153, 1, 255) 100%
  );

  &:focus {
    box-shadow: none;
  }

  img {
    width: 100%;
  }

  @media #{$md-layout} {
    bottom: 110px;
    right: 25px;
  }
  @media #{$xs-layout} {
    bottom: 110px;
    right: 25px;
  }
}

.product-wrap,
.product-list-image-wrap {
  position: relative;
  .product-img {
    position: relative;

    overflow: hidden;
    img {
      width: 100%;
    }

    &-badges {
      position: absolute;
      top: 12px;
      right: 12px;
      span {
        font-size: 13px;
        font-weight: 500;
        line-height: 1;

        display: block;

        margin-bottom: 10px;
        padding: 3px 11px;

        color: #fff;
        border-radius: 3px;
        &.pink {
          background-color: #fa6bff;
        }
        &.purple {
          background-color: $theme-color;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .hover-img {
      position: absolute;
      top: 0;
      left: 50%;

      visibility: hidden;

      transition-duration: 0.7s;
      transform: translate(-50%, 20px);

      opacity: 0;
    }
    .product-action {
      position: absolute;
      z-index: 9;
      bottom: 0;
      left: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      transform: translateX(-50%);

      @media #{$xs-layout} {
        position: unset;
        transform: unset;
      }

      > div {
        display: flex;
        visibility: hidden;

        align-items: center;
        justify-content: center;

        height: 48px;

        transition: all 0.5s ease;
        transform: translateY(20px);

        opacity: 0;
        // background-color: $theme-color;
        background-color: $dgPurple;
        // &:hover {
        //     background-color: #000;
        // }
        @media #{$md-layout,
          $xs-layout} {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
          height: 39px;
        }
      }
      .pro-cart {
        font-size: 14px;

        width: calc(100% - 48px);

        @media #{$md-layout,
          $xs-layout} {
          width: calc(100%);
        }

        transition-delay: 0.1s;
      }
      .pro-quickview {
        width: 48px;
        margin: 0;

        transition-delay: 0.2s;

        border-left: 1px solid rgba(255, 255, 255, 0.2);
      }
      .pro-same-action {
        a,
        button.btn.btn-block.btn-primary {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          padding: 0;

          width: 100%;

          height: 48px;
          @media #{$md-layout,
            $xs-layout} {
            height: 39px;
          }

          svg {
            margin-right: 10px;
          }

          @media #{$xs-layout} {
            font-size: 14px;
            height: 39px;
            svg {
              width: 20px;
              margin-right: 8px;
            }
          }

          text-align: center;
          text-transform: capitalize;

          color: #fff;
          border: none;
          background: none;
          &:hover,
          &.active {
            background-color: $dBlue;
          }
        }
        &.pro-quickview {
          a {
            margin: 0px;
            svg {
              margin: 0px;
            }
          }
        }
      }
    }
  }
  .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin: 20px 0 0;
    h3 {
      font-size: 16px;

      margin: 0;
    }
    .product-rating {
      margin: 3px 0 3px;
      i {
        font-size: 17px;

        margin: 0 3px;

        color: #5f5d5d;
        &.yellow {
          color: #ffa900;
        }
      }
    }
  }
  &:hover .hover-img {
    visibility: visible;

    transform: translate(-50%, 0);

    opacity: 1;
  }
  &:hover .product-action > div {
    visibility: visible;

    transform: translateY(0);

    opacity: 1;
  }
}

.product-content {
  flex-basis: calc(100% - 200px);
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 15px;
    a {
      // color: #3d3d3d;
      color: $dBlue;
      &:hover {
        // color: #ff0000;
        color: $dgPurple;
      }
    }
  }

  .product-price {
    margin-bottom: 10px;
    margin-left: -8px;
    span {
      // font-size: 18px;
      position: relative;
      margin: 0 8px;

      color: #000000;
      &:before {
        position: absolute;
        top: 10px;
        right: -13px;
        width: 6px;
        height: 2px;

        content: '';

        background-color: #a5a5a5;
      }
      &:last-child:before {
        display: none;
      }
      &.old {
        text-decoration: line-through;

        color: #ff0000;
      }
    }
  }

  .product-rating {
    margin-bottom: 15px;
    i {
      font-size: 17px;

      margin-right: 3px;
      &.yellow {
        color: #ffa900;
      }
    }
  }

  .product-action {
    display: flex;
    justify-content: flex-end;
    .pro-same-action {
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }
      button,
      a {
        font-size: 23px;
        line-height: 55px;

        display: inline-block;

        width: 55px;
        height: 55px;

        text-align: center;

        color: #000;
        border: none;
        background: none;
        background-color: #f6f6f6;

        &:hover,
        &.active {
          color: #fff;
          background-color: #ff0000;
        }
      }
    }
  }
}

.product-price,
.customer-points {
  color: #4d1619;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  // flex: 1 3 auto;
  width: fit-content;
  background: rgb(244, 225, 143);
  background: linear-gradient(
    90deg,
    rgba(244, 225, 143, 1) 0%,
    rgba(218, 168, 79, 1) 70%,
    rgba(244, 202, 122, 1) 100%
  ); // width: 200px;
  border-radius: 100px;
  font-weight: bold;
  div {
    font-size: 24px;
  }
  .price-dollas-icon {
    margin-right: 10px;
    width: 40px;
    height: auto;
  }
  span {
    font-size: 15px;
    font-weight: 600;
    padding-right: 15px;
    position: relative;
    margin: 0 9px;
    color: #000;
  }

  @media #{$xs-layout} {
    div {
      font-size: 20px;
      margin-right: 20px;
    }
    span {
      font-size: 14px;
    }

    &::before {
      position: absolute;
      top: 10px;
      right: -13px;

      width: 7px;
      height: 2px;

      content: '';

      background-color: #000;
    }
    &:last-child:before {
      display: none;
    }
    &.old {
      text-decoration: line-through;

      color: #8e8e8e;
    }
  }
}

.staff-ScratchCard.offcanvas.offcanvas-end {
  width: 100%;
  .offcanvas-body {
    padding: 0;
  }
  .offcanvas-header {
    position: absolute;
    right: 0px;
    padding: 2em;
    z-index: 1060;
  }
}

.offcanvas.offcanvas-end {
  @media #{$xs-layout} {
    width: 100%;
  }
}

.offcanvas-body {
  justify-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  // margin: auto;
  // height: 100%;
  // justify-content: center;

  h2 {
    padding: 0;
    margin: 0;
  }

  .scratch-card-title,
  .digicel-gradient-text {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)),
      linear-gradient(101deg, #f5402a, #9801ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
  }

  div.row {
    margin-top: auto;
  }
}

.ScratchCard__Container {
  display: flex;
  margin: auto;
  // max-width: 300px;
  // max-height: 330px;
  width: 100%;
  // height: 50vh;
  // max-height: 360px;
  .ScratchCard__Canvas {
    // max-width: 300px;
    // max-height: 330px;
    width: 100%;
    height: 100%;
  }
  display: flex;
  .ScratchCard__Result {
    .scratch-card-bg.staff-scratch-card-bg {
      padding: 1em;
      font-size: 5vw;
      // line-height: normal;
      .heading {
        height: unset;
        margin: 0;
        margin-bottom: 0.8em;
      }
      .message {
        height: unset;
        margin: 0;
        margin-top: 0.8em;
      }

      // .note {
      //   margin: flex;
      // }

      .won-product-img-container {
        margin: 0;
      }
    }

    .staff-scratch-content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .staff-scratch-card-logo {
      margin: 0;
      width: 40vw;
    }
    .scratch-card-bg {
      width: 400px;
      border: 3px solid transparent;
      border-image: linear-gradient(to bottom, $dgRed, $dgPurple);
      border-image-slice: 1;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      .heading {
        display: block;
        text-align: center;
        margin: auto;
        font-size: 1.4em;
        font-weight: bold;
        height: 20%;
      }
      .digiDollas {
        display: flex;
        align-content: center;
        font-size: 30px;
        padding: 5px 30px;
        margin: 15px 0 10px 0;
        border: dashed 2px black;
        height: 30%;
      }

      .coinDigiDollas {
        .scratch-coin {
          max-width: 200px;
          width: 100%;
          margin-bottom: 15px;
        }
        .won-product-img {
          max-width: unset;
        }
      }

      .message {
        height: 17%;
        display: block;
        text-align: center;
        font-size: 1em;
      }
      .note {
        display: flex;
        text-align: center;
        width: 80%;
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}

.product-search {
  margin-left: 10px;
}

// Buttons

.swal2-styled.swal2-confirm.digicel-button,
.digicel-button {
  border-radius: 100rem;
  color: #161f60;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #f5402a, #9801ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  min-width: 7rem;
  font-weight: 600;
}

.btn.disabled,
.btn:disabled,
digicel-button:disabled {
  color: $dBlue;
}

.swal2-styled.swal2-confirm.digicel-button,
.btn.btn-primary {
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #f5402a, #9801ff);
}

.swal2-styled.swal2-confirm.digicel-button,
.btn.btn-secondary {
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #f5402a, #9801ff);
}

.swal2-styled.swal2-confirm.digicel-button:hover,
.btn:hover {
  box-shadow: none;
  color: white;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:focus,
.swal2-actions:not(.swal2-loading) .swal2-styled:hover,
.swal2-styled.swal2-confirm:focus {
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #f5402a, #9801ff) !important;
  color: white;
}

.link {
  color: #161f60;
}
.link:hover {
  color: #161f60;
  text-decoration: underline;
}

.page-item.active .page-link {
  background-color: #9801ff;
  border-color: #9801ff;
}

.all-products-container {
  @media #{$xs-layout} {
    // column-gap: 10px;
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
  }
}
.single-product-container {
  @media #{$xs-layout} {
    padding: 0;
    width: 45%;
  }
}

.scratch-user-guide-list {
  padding: 0;
}

.scratch-user-guide {
  margin-top: auto;
}

.accordion-body {
  padding: 0;
}

.accordion-item {
  margin: auto;
}

.accordion-button {
  font-weight: 600;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #f5402a, #9801ff);
  color: white;
}

.accordion-button.collapsed::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed)::after {
  color: white;
}
