.row > * {
  // padding: 0;
}

.transaction-container {
  margin-bottom: 20px;
}

.transaction-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.order-container {
  max-width: 750px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: auto;
  margin-bottom: 10px;

  font-size: 18px;
  @media #{$xs-layout} {
    font-size: 15px;
  }

  div.order-sub-container {
    border-bottom: 1px solid var(--bs-border-color-translucent);
    // border-top: 1px solid $dBlue;
    // padding-top: 5px 0;
    .orderid-date-container {
      border-bottom: 1px solid var(--bs-border-color-translucent);
      padding-bottom: 10px;

      --bs-gutter-x: 0;
      width: 100%;
      margin-bottom: 10px;

      .orderId {
      }
      .order-date {
        text-align: end;
      }
    }

    .product-container {
      row-gap: 20px;
      flex-direction: row;
      margin-bottom: 20px;

      .img-container {
        flex-grow: 2;
        img {
          max-width: 90px;
        }
      }
      .order-product-price-qty {
        flex-grow: 6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .product-price-qty {
          justify-content: end;
          display: flex;
          align-items: center;
          div.qty {
            padding: 0;
          }
          div {
            justify-content: end;
            .order-product-price {
              display: flex;
              align-items: center;
              padding: 0;
              margin: 0;
              --bs-gutter-x: 0;
              img {
                width: 35px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
  .order-total-price {
    div {
      display: flex;
      align-items: center;
      justify-content: end;
      // padding: 0;
      // margin: 0;
      // --bs-gutter-x: 0;
      // margin-bottom: 30px;

      img {
        margin-left: 15px;
        margin-right: 8px;
        width: 35px;
      }
    }
  }
}

.scrached-cards-container {
  max-width: 750px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--bs-border-color-translucent);
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;

  font-size: 18px;
  @media #{$xs-layout} {
    font-size: 15px;
  }

  .scrached-cards-subcontainer {
    display: flex;
    align-items: center;
  }
}

.cart-qty-price-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scratchcard-price {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  --bs-gutter-x: 0;
  img {
    width: 35px;
    margin-right: 8px;
  }
}
