.row {
}
.order-container {
  max-width: 750px;
  font-size: 15px;
  row-gap: 20px;
  .orderId {
  }
  .order-date {
    text-align: end;
  }
  .product-container {
    row-gap: 20px;
    .img-container {
      img {
        max-width: 150px;
      }
    }
    .order.product-content {
      .order.product-name {
      }
      .order-product-price-qty {
        align-items: flex-end;
        .order-product-price {
          justify-content: end;
          font-size: 20px;
          div {
            align-items: center;
            img {
              width: 35px;
              margin-right: 8px;
            }
            display: flex;
          }
        }
      }
    }
  }
}
